                 #content {
                color: white;
                font-size: 35px;
                background-color: black;
                opacity: 0.88;
                text-align: center;
                font-family: Tahoma;
                border-width: 3px;
                border-color: yellow;
                border-style: groove;
            }
    
            h1 {
                color: red;
                font-size: 42px;
                background-color: white;
                font-family: Verdana;
            }
    
            #one {
                height: 200px;
                width:200px;
                border-radius: 50%;
                border-width: 3px;
                border-color: black;
                text-align: center;
                align-content: center;
    
            }
    
            #two {
                height: 200px;
                border-radius: 50%;
                border-width: 3px;
                border-color: black;
                width: 200px;
                text-align: center;
                align-content: center;
    
            }
    
            #three {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                border-width: 3px;
                border-color: black;
                text-align: center;
                align-content: center;
    
            }
    
            #four {
                height: 200px;
                width: 200px;
                border-radius: 50%;
                border-width: 3px;
                border-color: black;
                text-align: center;
                align-content: center;
    
            }
    
            .dark1 {
                background-color: #10b958;
            }
    
            .light1 {
                background-color: #13FF75;
            }
    
            .dark2 {
                background-color: #c61611;
            }
    
            .light2 {
                background-color: #ff1c15;
            }
    
    
            .dark3 {
                background-color: #dddf1a;
            }
    
            .light3 {
                background-color: #fdff1d;
            }
    
            .dark4 {
                background-color: #5ac5c6;
            }
    
            .light4 {
                background-color: #73feff;
            }
    
            .bt {
                height: 40px;
                width: 60px;
                text-align: center;
                align-content: center;
                background-color: transparent;
                color: white;
            }
    
    
            .img {
                height: 12px;
                width: 12px;
                text-align: center;
                align-content: center;
                color: white;
    
            }
    
        